<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="../profile.ejs">Profile</a></li>
    <li><a href="../register.ejs">Register</a></li>
    <li><a href="../login.ejs">Login</a></li>
  </ul>
</nav>
