<nav>
  <a href="/" id="logo"><i class="fa-solid fa-money-check-dollar"></i></a>

  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/users/profile/<%= user ? user.id : 'undefined' %>">Profile</a>
    </li>
  </ul>
</nav>
