<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/global-styles.css" />
    <%- styles || '' %>
    <title><%= title %></title>
  </head>
  <body>
    <main id="main">
      <!-- All other files.ejs will be inserted here -->
      <%- body %>
    </main>

    <script src="/js/global-script.js"></script>

    <%- scripts || '' %>
  </body>
</html>
