<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <script src="../../public/js/scripts.js" defer></script>
    <title>Home</title>
  </head>
  <body>
    <!-- Navbar -->
    <!-- <%- include('../partials/navbar') %> -->

    <div class="content">
      <!-- All other files.ejs will be inserted here -->
      <%- body %>
    </div>

    <!-- Footer -->
    <!-- <%-include('../partials/footer') %> -->
  </body>
</html>
