<%- include('./partials/navbar.ejs') %>

<h1>-- Home --</h1>

<h2>
  Welcome <%= connectionWay === "login" ? " back to our site " + user.username :
  "to our site " + user.username %>
</h2>

<%- include('./partials/footer.ejs') %>

<!-- <h1>Welcome <%= user.username %></h1> -->
