<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/global-styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
    <title>Register</title>
  </head>
  <body>
    <main>
      <h1>Login</h1>

      <form id="login-form" class="form-container">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button id="login-btn" type="submit">Login</button>
      </form>

      <div>Don't have an account? <a href="/register">Register here</a></div>

      <div id="response-display"><%= error %></div>
    </main>

    <footer><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
