<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/global-styles.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <script src="/js/register.js" defer></script>
    <title>Register</title>
  </head>
  <body>
    <main>
      <h1>Register</h1>

      <form id="register-form" class="form-container">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />

        <button id="submit-btn" type="submit">Register</button>
      </form>

      <div>Already have an account? <a href="/login">Login here</a></div>

      <div id="response-display"></div>
    </main>

    <footer><%-include('./partials/footer.ejs') %></footer>
  </body>
</html>
