:root {
  --color-main: #1dcfb3;
  --color-main-hover: #1bc2a9;
  --clr-hover-white: rgb(249, 249, 249);
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-2: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;

  nav {
    height: 3.5rem;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    box-shadow: var(--box-shadow);

    #logo {
      i {
        color: var(--color-main);
        font-size: 2rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          padding: 1rem 1.6rem;
          color: var(--color-main);
          font-size: 1.2rem;

          &:hover {
            background-color: var(--clr-hover-white);
            border-bottom: 2px solid var(--color-main);
          }
        }
      }
    }
  }
}

main {
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  padding: 4rem;
}

h1 {
  text-align: center;
  color: var(--color-main);
  font-size: 2.3rem;
}

h2 {
  color: rgb(108, 108, 108);
}

#back-button {
  position: absolute;
  top: 5rem;
  left: 4rem;
}

label {
  color: rgb(109, 109, 109);
  font-size: 1.2rem;
}

input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: 1.2rem;
  color: rgb(98, 98, 98);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(95, 95, 95) !important;
}

input:focus {
  outline: none;
}

button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.8rem;
  border: none;
  width: fit-content;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-2);
  background-color: white;
  color: var(--color-main);

  &:hover {
    background-color: var(--clr-hover-white);
  }
}

footer {
  position: fixed;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(137, 137, 137);
  background-color: rgb(237, 237, 237);
}

.delete-btn {
  border-radius: 100%;
  color: rgb(255, 99, 99);
  padding: 0.2em 0.5rem;

  box-shadow: var(--box-shadow-2);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

i {
  color: var(--color-main);
}

#response-display {
  margin-top: 1.5rem;
  color: red;
}
